*{
    margin: 0;
    padding: 0;
    font-family: 'Agrandir', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #E7DFD8;
    background-size: cover;
    background-position: center;
    color: #231F20;
    padding-top: 60px;
    padding-bottom: 60px;
}
/*All elemtns that went into the home page, as well as the general box design used through out the websight*/
nav {
    width: 95%;
    display: flex;
    justify-content: space-around;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}
nav ul li{
    display: inline-block;
}
.nav-button{
    text-decoration: none;
    color:#231F20;
    box-sizing: border-box;
    width: 250px;
    display: block;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    border: 2px solid #231F20;
    padding: 45px;
    margin: 20px;
    width: 95%;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content-resume-about{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*this is the links on the home page and other link pngs*/
.link-hub{
    margin-top: -50px;
}
.link-hub a img{
    width: 3.5vw;
    text-decoration: none;
    margin-right: 15px;
    color: #231F20;
    margin-left: 20px;
}
.link-hub button {
    background-color: transparent;
    margin-right: 15px;
    border: none;
}
.link-hub button img {
    width: 3.8vw;
    color:#231F20;
    margin-left: 20px;
}
.img-chain{
    width: 3.8vw;
    color:#231F20;
    margin-left: 20px;
}
/*Makes links viewable in html once the css is disabled, so the icons will disapear*/
.html_view{
    display: none;
    visibility: hidden;
}
/*All the titles used on the top of the pages.*/
.title1, .about-title {
    width: 90%;
    font-size: 125px;
    font-weight: bold;
    margin-bottom: 40px;
}
.title2{
    width: 90%;
    text-align: center;
    padding: 20px;
    font-size: 80px;
    font-weight: bold;
}
.title3{
    width: 90%;
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 40px;
}
/*Home page intro text*/
.intro{
    width: 90%;
    font-size: 45px;
    font-weight:normal;
    margin-bottom: 60px;
}
/*The second box on the home page for getting in contact with me*/
.contact-title{
    width: 90%;
    font-size: 125px;
    font-weight: bold;
}
.contact-bottom button{
    display: inline-block;
    background-color: #169D53;
    border: 0;
    margin: 15px;
    padding: 15px;
    width: 200px;
}
.contact-bottom form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 6px;
    font-style: 18px;
}
/*The pages that had two images needed these specific containers to be stack on one another*/
.tech-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.about-image-text-container, .about-image-text-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/*All image styling to stay at a varable width and height*/
.image1{
    width: 30%;
    height: 50%;
}
.image2{
    margin-top: 50px;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 50%;
    margin-bottom: 50px;
}
.image3{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 50%;
}
.image4{
    width: 40%;
    height: 50%;
    margin-top: 70px;
}
.resume-img{
    width:auto;
    width: 100%;
    height:auto;
    height: 100%;
}
.image5{
    width: 100%;
    height: 50%;
}
.image6{
    width: 100%;
    height: 50%;
}
/*All they styling needed for all list and bullet points to work within the margin named content of page*/
.content div ul{
    width: 90%;
    margin-bottom: 50px;
}
.content-resume-about div ul, .about-image-text-container section ul, .about-image-text-container-2 section ul{
    width: 90%;
    margin-bottom: 50px;
}
/* i {
    margin-left: 20px;
} */
.point{
    width: 90%;
    font-size: 55px;
    font-weight:lighter;
    margin-left: 10px;
}
.discription{
    font-size: 40px;
    font-weight:lighter;
}
/*The styling for the download pdf link in the resume page*/
.download-text{
    align-items: center;
    font-size: 25px;
    font-weight:lighter;
    margin-left: 50px;
    width: 95%;
}
/*needed to make the about page a little bit different in terms of styling for the text*/
.about-discription {
    font-size: 37px;
    font-weight:lighter;
}
.about-discription-last{
    margin-top: 50px;
    font-size: 37px;
    font-weight:lighter;
}
/*media triggers so paged and there conetent can resize appropriatly for any screen*/
@media (max-width: 1200px) {
    .content-resume-about {
        flex-direction: column;
    }
    .link-hub{
        margin-top: 0;
    }
    .download-text{ 
        margin-left: 25px;
    }
    .resume-img{
        width: 900px;
        height: 1269px;
    }
    .image1{
        width: 100%;
    }
    .image5{
        margin-top: 40px;
    }
}